aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aioitertools==0.13.0
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
arize-phoenix==14.6.0
arize-phoenix-client==2.3.1
arize-phoenix-evals==3.0.0
arize-phoenix-otel==0.15.0
async-timeout==4.0.3
attrs==26.1.0
Authlib==1.7.0
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cross-web==0.6.0
cryptography==46.0.7
dataclasses-json==0.6.7
distro==1.9.0
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.136.0
filetype==1.2.0
frozenlist==1.8.0
google-auth==2.49.2
google-genai==1.73.1
googleapis-common-protos==1.74.0
graphql-core==3.2.8
greenlet==3.4.0
grpc-interceptor==0.15.4
grpcio==1.80.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
importlib_metadata==8.7.1
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
joserfc==1.6.4
jsonpatch==1.33
jsonpath-ng==1.8.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
langchain==1.2.15
langchain-classic==1.0.4
langchain-community==0.4.1
langchain-core==1.3.0
langchain-google-genai==4.2.2
langchain-text-splitters==1.1.2
langgraph==1.1.8
langgraph-checkpoint==4.0.2
langgraph-prebuilt==1.0.10
langgraph-sdk==0.3.13
langsmith==0.7.32
ldap3==2.9.1
Mako==1.3.11
MarkupSafe==3.0.3
marshmallow==3.26.2
multidict==6.7.1
mypy_extensions==1.1.0
numpy==2.2.6
openinference-instrumentation==0.1.46
openinference-instrumentation-langchain==0.1.62
openinference-instrumentation-openai==0.1.44
openinference-semantic-conventions==0.1.28
opentelemetry-api==1.41.0
opentelemetry-exporter-otlp==1.41.0
opentelemetry-exporter-otlp-proto-common==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
opentelemetry-exporter-otlp-proto-http==1.41.0
opentelemetry-instrumentation==0.62b0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
orjson==3.11.8
ormsgpack==1.12.2
packaging==26.1
pandas==2.3.3
prometheus_client==0.25.0
propcache==0.4.1
protobuf==6.33.6
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.2
pydantic-settings==2.13.1
pydantic_core==2.46.2
pystache==0.6.8
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.26
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
requests-toolbelt==1.0.0
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.49
sqlean.py==3.50.4.5
starlette==1.0.0
strawberry-graphql==0.314.3
tenacity==9.1.4
threadpoolctl==3.6.0
tomli==2.4.1
tqdm==4.67.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.44.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
wrapt==1.17.3
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.1
zstandard==0.25.0
