fastapi
PyJWT
uvicorn[standard]
pydantic>=2.7.4
python-dotenv
httpx
tenacity

langchain
langchain-community
langgraph
langchain-google-genai
langchain-openai

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
arize-phoenix
openinference-instrumentation-langchain

sqlalchemy
psycopg[binary]
pgvector
greenlet