# If you are using the Postgres implementation
PROFILE_SOURCE=POSTGRES
DATABASE_URL=postgresql://user:password@localhost:5432/your_db

# if profile is loaded from LEO CDP
PROFILE_SOURCE=LEO_CDP
LEO_API_KEY=your_key_here
LEO_BASE_URL=https://api.leocdp.com
